@media (min-width: 1100px) {
	header{    
		background: #FF4500;
        color: black;
        padding: 10px 0;
        text-align: center;
	}
	.mainGame {
		background: #1E90FF;
		margin-top: 120px;
	}
	body{
		background: #696969;
		font-family: Arial, sans-serif;
	}
	.Score{
		height: 20px;
	}
	.ScoreTxt{
		margin-top: 50px;
		margin-left: 120px;
		color: #FF0000;
		font-weight: bold;
		font-size: 40px;
	}	
}